html{
    font-size:14px;
}
*{
    list-style:none;
    margin:0px;
    padding:0px;
}
.red{
    color:red ;
}
.green{
	color: green;
}
.bg_gray{
	background-color: gray !important;
}
.bg_green{
	background-color: green !important;
}
input[type=text],input[type=password],select,textarea{
    outline:none;
    border:solid 1px #ffffff;
    border-radius:3px;
    padding:.7rem .7rem;

}
input[type=text]:focus, input[type=password]:focus, select:focus, textarea:focus {
        box-shadow: 0 0 5px 2px white;
        
		
    }
button{
    border:none;
    border-radius:3px;
    padding:.5rem 1rem;
    cursor:pointer;
    background-color:aqua;
    color:white;

}
